
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Departmant</th>
    </tr>
    <tr>
        <td>1</td>  
        <td>Yusuf Kurtulus</td>
        <td>Software</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Lorem Ipsum</td>
        <td>Accounting</td>
    </tr>  
</table>